<IfModule mod_expires.c>

# Enable expirations
ExpiresActive On

# Default directive
ExpiresDefault "access plus 1 day"

# My Favicon
ExpiresByType image/x-icon "access plus 1 day"

# images
ExpiresByType image/gif "access plus 1 day"
ExpiresByType image/png "access plus 1 day"
ExpiresByType image/jpg "access plus 1 day"
ExpiresByType image/jpeg "access plus 1 day"

# CSS
ExpiresByType text/css "access 1 day"

# javascript
ExpiresByType application/javascript "access plus 1 dayr"
ExpiresByType text/javascript A5

</IfModule>
